.sendTicket[b-6xcezjgynu] {
    min-height: 100vh;
    background-color: var(--BG-COLOR);
}

.form[b-6xcezjgynu] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title[b-6xcezjgynu] {
    color: #eee;
    text-align: left;
    padding-top: 2rem;
}

.input[b-6xcezjgynu] {
    padding: 0;
}

.input__error[b-6xcezjgynu] {
    display: block;
    color: var(--ERROR-COLOR);
    font-weight: bold;
}

.text__input[b-6xcezjgynu] {
    border: 1.5px solid rgba(180, 180, 180, 0.507);
}

.textarea__input[b-6xcezjgynu] {
    margin-top: 0.8rem;
    border-radius: 5px;
    min-width: 360px;
    min-height: 45px;
    max-width: 550px;
    outline: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
    color: var(--FONT-COLOR);
    transition: border 300ms ease-in-out;
    border: 1.5px solid rgba(180, 180, 180, 0.507);
}

    .textarea__input:focus[b-6xcezjgynu],
    .text__input:focus[b-6xcezjgynu] {
        outline-width: 3px;
        outline-style: solid;
        outline-color: var(--HOVER-COLOR);
        border: 2px solid var(--PRIMARY-COLOR);
    }

.showTypes[b-6xcezjgynu] {
    width: 360px;
    height: 45px;
    display: flex;
    align-items: center;
    border: 1.5px solid rgba(180, 180, 180, 0.507);
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: transparent;
    color: grey;
    font-weight: bold;
    margin-top: 0.8rem;
}

    .showTypes:hover[b-6xcezjgynu] {
        cursor: pointer;
    }

.remove_bottom_border[b-6xcezjgynu] {
    border-bottom: none;
}

.types_list[b-6xcezjgynu] {
    border: 1.5px solid rgba(180, 180, 180, 0.507);
    width: 360px;
    height: 90px;
    overflow: auto;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
}

.type[b-6xcezjgynu] {
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
    transition: all 300ms ease-in-out;
    font-weight: bold;
}

    .type:hover[b-6xcezjgynu] {
        cursor: pointer;
        color: #eeeeee;
        background-color: var(--PRIMARY-COLOR);
    }

    .type:last-child[b-6xcezjgynu] {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.submit__button[b-6xcezjgynu] {
    width: 360px;
    height: 45px;
    background-color: var(--PRIMARY-COLOR);
    color: #fff;
    border-radius: 5px;
    transition: background 300ms ease-in-out;
    font-size: 1rem;
    font-weight: 600;
}

    .submit__button:hover[b-6xcezjgynu] {
        cursor: pointer;
        background-color: var(--HOVER-COLOR);
    }

.disable[b-6xcezjgynu] {
    display: none;
}

.file__input[b-6xcezjgynu] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    height: 70px;
    border: 2px dashed var(--PRIMARY-COLOR);
    transition: all 300ms ease-in-out;
    color: var(--FONT-COLOR);
    font-weight: bold;
    margin-top: 1rem;
}
    .file__input i[b-6xcezjgynu] {
        margin: 0 0.8rem;
    }

    .file__input:hover[b-6xcezjgynu] {
        cursor: pointer;
    }


.messageBox[b-6xcezjgynu] {
    position: fixed;
    top: 90vh;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 360px;
    width: 100%;
    height: 100px;
    background-color: #1D1D1D;
    border-left: 5px solid var(--ERROR-COLOR);
    display: flex;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.3);
}

.message__icon[b-6xcezjgynu] {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message__info[b-6xcezjgynu] {
    width: 260px;
    height: 100%;
    padding: 1rem;
    padding-left: 0;
    font-weight: bold;
    color: #eee;
}

.message__content[b-6xcezjgynu] {
    color: #bbb;
}

.error__class[b-6xcezjgynu] {
    border: 2px solid var(--ERROR-COLOR);
}

.files[b-6xcezjgynu] {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    gap: 1rem;
    margin-top: 1rem;
}

.file[b-6xcezjgynu] {
    transition: all 300ms ease-in-out;
}

.filename[b-6xcezjgynu] {
    margin: 0.7rem 0 0 0;
    color: var(--FONT-COLOR);
    background-color: #272727cb;
    transition: all 300ms ease-in-out;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5rem;
    border-radius: 10px;
}

.icon[b-6xcezjgynu] {
    border-radius: 5px;
    height: 80px;
    border: 1px solid grey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--FONT-COLOR);
    transition: all 300ms ease-in-out;
}

.icon i[b-6xcezjgynu] {
    font-size: 1.2rem;
}

.remove__button[b-6xcezjgynu] {
    position: absolute;
    color: #fff;
    top: 8%;
    left: 75%;
    transition: color 300ms ease-in-out;
}

.remove__button i[b-6xcezjgynu] {
    font-size: 0.9rem;
}

    .remove__button:hover[b-6xcezjgynu] {
        cursor: pointer;
        color: var(--ERROR-COLOR);
    }

